@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/SEGA LOGO FONT'), url('../fonts/SEGA.woff') format('woff');
  font-display: swap; /*important adds as bg place holder during font load*/
} 

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'helvetica neue', helvetica, sans-serif;
  background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);
}

h1 {
  font-family: 'SEGA LOGO FONT';
} 

@media screen and (min-width: 0px) and (max-width: 440px) {
  h1 {
    font-size: 2.4em !important;
  } 
}